
<% if(typeof dbData != 'undefined') {%>
    <table id="table-style">
        <% if(typeof dbDataHeaders != 'undefined'){ %>
            <% dbDataHeaders.forEach ( header => { %>

                <th id="table-head"> <%= header[0]; %> </th>
            <%}) %>
         
        <%}%>

        <% dbData.forEach( row => { %>
            
            <tr>
                <% row.forEach( value => { %>
                    <td>
                        <%= value; %>

                    </td>
            
               <% }) %>
               <!-- <td>
                <button id="delete-button" data-rowId="<%= row[0] %>">Delete</button>
                <script>
                    document.getElementById('delete-button').addEventListener('click', () => {
                        console.log('Hej');
                    })
                </script> -->
               </td>
            </tr>
        <% }) %>
    </table>
<%}%>
