<div id="header-div">
    <h1> Grit Academy Api</h1>
    <div nav-container>
        <a href="/">Database Tables</a>
        <a href="/addData">Add Data</a>
        <a href="/removeData">Remove Data</a>
        <a href="/updateData">Update data</a>
    </div> 

</div>