<div id="header-div">
    <h1> Grit Academy Database</h1>
    <div id="nav-container">
        <a class="nav-link" href="/">Database Tables</a><span>|</span>
        <a class="nav-link" href="/addData">Add Data</a><span>|</span>
        <a class="nav-link" href="/removeData">Remove Data</a><span>|</span>
        <a class="nav-link" href="/updateData">Update Data</a>
    </div> 

</div>