<div id="header-div">
    <h1> <%= pageTitle %></h1>
    <div nav-container>
        <a href="/">Home</a>
        <a href="/studentTable">Students</a>
        <a href="/courseTable">Courses</a>
        <a href="/studentsAndCourses">Student And Courses</a>
    </div> 

</div>