<%- include ("partials/head") %>

    <body>

        <div id="mainDiv">
            <%- include ("partials/header") %>
            <h1>HOME PAGE</h1>

        </div>

        <%- include ("partials/Footer") %>
    </body>