<%- include ("partials/head") %>

<body>
    <div id="mainDiv">
        <%- include ("partials/header") %>
        <h1> Student And Courses Table</h1>
        <form id="indexFile-form" action="/studentsAndCourses" method="POST">
            <label>students_id:</label>
            <input type="text" name="students_id">
    
            <label>courses_id:</label>
            <input type="text" name="courses_id">
    
            <button type="submit">Enter</button>
        </form>

        <%- include('partials/dataTables') %>

    </div>

    <%- include ("partials/Footer") %>
</body>
