<%- include ("partials/head") %>

<body>
    <div id="mainDiv">
        <%- include ("partials/header") %>
        <h1> Student Table</h1>
        <form id="indexFile-form" action="/studentTable" method="POST">
            <label>fName:</label>
            <input type="text" name="fName">
    
            <label>lName:</label>
            <input type="text" name="lName">
    
            <label>town:</label>
            <input type="text" name="town">
    
            <button type="submit">Enter</button>
        </form>
    
        <%- include('partials/dataTables') %>
        
    </div>

    <%- include ("partials/Footer") %>

</body>