body{

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#header-div{
    background-color: lightgray;
    padding: 10px;
}

#header-div{
    display: flex;
    justify-content: space-between;
}

#nav-container{
  margin: auto 30px auto 0;
}

a{
   color: black;
   text-decoration: none;
   padding: 5px;
}
span{
    margin-left: 5px;
}

a:hover{
    font-style: italic;
    color: rgb(238, 158, 40);
    font-size: larger;
}

#mainDiv{
    min-height: 90vh;
}
#pageTitle{
    text-align: center;
    margin-top: 50px;
}

#indexFile-form{
    text-align: center;
    margin-top: 15px;
}

#delete-form{
    margin-top: 15px;
    margin-left: 123px;
}
#table-style{
    margin-top: 20px;
    margin: 20px auto;
}

#table-style th{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 100px;
    background-color: lightgray;
}

#table-style td{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 15px;
    text-align: left;
    background-color: rgb(242, 197, 139);
}

#footer-div{
    background-color: lightgray;
}
 #footer-div p {
    padding: 10px ;
}