body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


#header-div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(121, 202, 239);
    padding: 10px;
    color: rgb(216, 91, 91);
}

#nav-container{
  margin: auto 30px auto 0;
}

a{
   color: white;
   text-decoration: none;
   padding: 5px;
}
span{
    margin-left: 5px;
}

a:hover{
    font-style: italic;
    color: rgb(238, 158, 40);
    font-size: larger;
}

#mainDiv{
    min-height: 90vh;
    background-color: bisque;
}
#mainDiv h3{
    text-align: center;
}
#pageTitle{
    text-align: center;
    margin-top: 50px;
}

#indexFile-form{
    text-align: center;
    margin-top: 15px;
}

#addData-form{
    text-align: center;
    margin-top: 15px;
}

#removeData-form{
    text-align: center;
    margin-top: 15px;
}

#update-form{
    text-align: center;
    margin-top: 15px;
}
#table-style{
    margin-top: 20px;
    margin: 20px auto;
}
input{
    padding: 5px;
}

button{
    padding: 7px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#table-style th{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 100px;
    background-color: lightgray;
}

#table-style td{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 15px;
    text-align: left;
    background-color: rgb(242, 197, 139);
}

#footer-div{
    display: flex;
    background-color: rgb(121, 202, 239);
    padding: 10px 100px;
    color: rgb(216, 91, 91);
    justify-content: space-between;
}
